* {
	margin: 0;
	position: 0;
}

html, body {
	margin: none;
	position: 0;
	height: 100vh;
	font-size: 16px;
}

body {
	width: 100%;
	background-color: #222831;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23554078' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a {
	text-decoration: none;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}

h2 {
	font-family: 'Lato', sans-serif;
	color: white;
}

.todo {
	height: 100%;
}

/*HEADER*/

header {
	position: relative;
	margin: auto;
	background-color: #dddddd;
	height: 18%;
	width: 80%;
	margin-top: 2%;
	border-radius: 5px;
	transition: .2s;
}

.redes img:hover {
	transform: translateY(-3px) scale(1.15);
	filter: none;
}

.blue {
	padding: 0;
	margin: 0;
	height: 80%;
}

.logo {
	display: flex;
	position: absolute;
	width: 20%;
	height: 100%;
	margin-top: 1.5%;
	margin-left: 1.5%;
	display: inline-block;
}

.icono1, .icono2, .icono3 {
	position: absolute;
	display: inline-block;
	height: 2%;
	border-radius: 36px;
	margin-top: 5%;
	margin-left: 88%;
	z-index: 2;
	background-color white;
}

.icono2 {
	margin-left: 83%;
}

.icono3 {
	margin-left: 78%;
}

.imagenes-redes {
	height: 3vh;
	border-radius: 8px;
}

/*ZONA NAV */

nav {
	position: relative;
	height: 9%;
	width: 80%;
	margin: auto;
	margin-top: 2%;
}

.links, .links-1 {
	text-decoration: none;
	color: #222831;
	padding: none;
	margin-left: 35%;
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	display: grid;
}

.box:hover {
	transform: translateY(-3px) scale(1.15);
	box-shadow: 0 5px 5px 0px #222831;
	filter: none;
}

#boxer {
	display: grid;
	grid-template-columns: 19.8% 19.8% 19.8% 19.8% 19.8%;
	grid-column-gap: 0.2%;
	width: 100%;
	height: 100%;
}

.box {
	height: 100%;
	background-color: #dddddd;
	border-radius: 5px;
}

.box a {
	width: 50%;
	margin-top: 10%;
}

/*ARTICLE*/

article {
	position: relative;
	width: 80%;
	margin: auto;
	height: 40%;
	margin-top: 2%;
}

.box1 {
	height: 91%;
	position: absolute;
	bottom: 0%;
	width: 22.8%;
	margin-left: 0%;
	border: none;
	color: white;
	text-decoration: none;
	padding: 1% 5%;
	border: 2px solid white;
	border-radius: 10px;
	z-index: 100;
}

.container p, .container h2 {
	margin-left: 2%
}

.container img {
	position: absolute;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 33%;
	height: 45%;
}

.container h2 {
	position: absolute;
	display: inline-block;
	top: 45%;
	width: 80%;
	color: white;
}

.container p {
	position: absolute;
	display: inline-block;
	width: 25%;
	top: 55%;
	height: 8%;
	color: white;
	z-index: 200;
}

button {
	position: absolute;
	bottom: 5%;
	height: 20%;
	margin-left: 15%;
	background-color: #008891;
	border: none;
	color: white;
	text-decoration: none;
	padding: 1% 6.2%;
	border: 2px solid white;
	border-radius: 10px;
	z-index: 200;
}

button:hover {
	transform: translateY(-3px) scale(1.15);
	box-shadow: 0 5px 5px 0px #222831;
	filter: none;
}

button .link-button {
	text-decoration: none;
	color: white;
}

.bloque {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 0.5%;
	width: 100%;
	height: 100%;
}

.container {
	height: 100%;
	background-color: #008891;
	border-radius: 10px;
}

/*SECTION*/

section {
	position: relative;
	width: 80%;
	height: 64%;
	margin: auto;
	margin-top: 2%;
	border-radius: 10px;
	background-color: #008891;
	border: 1px solid white;
}

section div {
	margin-left: auto;
	margin-right: auto;
	height: 50%;
	width: 70%;
}

.image-section {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 70%;
}

.container-2 {
	margin-right: 15%;
	width: 65%;
	position: relative;
	z-index: 4;
}

.title {
	position: absolute;
	font-family: 'Lato', sans-serif;
	color: white;
	top: 10%;
	right: 75%;
	display: inline-block;
	z-index: 5;
}

.seccion-texto {
	top: 20%;
	right: 45%;
	color: white;
	width: 50%;
	position: absolute;
	display: inline-block;
	font-size: 1em;
	z-index: 5;
}

.button-section {
	width: 45%;
	height: 30%;
	position: absolute;
	display: inline-block;
	right: 5%;
	bottom: 10%;
	text-decoration: none;
	font-size: 16px;
	padding: 12px 24px;
	cursor: pointer;
	border-radius: 5px;
	border: 2px solid white;
}

.box2 {
	position: absolute;
	width: 99.7%;
	height: 99.7%;
	border: none;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px 0 0 0px;
	z-index: 100;
}

/*F00TER*/

footer {
	width: 80%;
	margin: auto;
	height: 10vh;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #dddddd;
	border-radius: 10px;
}

.footer {
	margin: top;
	font-size: 16px;
	text-align: center;
}

footer li {
	border-right: 1px solid #373535;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	color: black;
}

footer li a {
	color: black;
}

footer li:last-child {
	border-right: none;
}

footer img {
	display: block;
	margin: 0 auto;
}

ul {
	padding: 0;
}

li {
	color: black;
	display: inline;
	padding: 10px;
	font-size: 16px;
}

p .copy {
	position: absolute;
	margin-top: 50%;
	z-index: 600;
}

@media only screen and (max-width: 800px) {
	.todo {
		height: 100%;
	}
	/*HEADER*/
	header {
		position: relative;
		margin: auto;
		background-color: #dddddd;
		height: 8%;
		width: 100%;
		border-top: 8px solid #222831;
		border-radius: 0px;
		transition: .2s;
	}
	.redes img:hover {
		transform: translateY(-3px) scale(1.15);
		filter: none;
	}
	.blue {
		padding: 0;
		margin: 0;
		height: 80%;
		width: 100%;
	}
	.logo {
		display: flex;
		position: absolute;
		width: 20%;
		height: 100%;
		margin-top: 1.5%;
		margin-left: 1.5%;
		display: inline-block;
	}
	.icono1, .icono2, .icono3 {
		position: absolute;
		display: inline-block;
		height: 2%;
		border-radius: 36px;
		margin-top: 5%;
		margin-left: 90%;
		z-index: 2;
		background-color white;
	}
	.icono2 {
		margin-left: 80%;
	}
	.icono3 {
		margin-left: 70%;
	}
	.imagenes-redes {
		height: 3vh;
		/*Dejo este view port por que no hay manera de mostrar los iconos por con %*/
		border-radius: 8px;
	}
	/*ZONA NAV */
	nav {
		position: relative;
		height: 9%;
		width: 100%;
		margin: auto;
		margin-top: 2%;
	}
	.box:hover {
		transform: translateY(-3px) scale(1.15);
		box-shadow: 0 5px 5px 0px #222831;
		filter: none;
	}
	#boxer {
		display: grid;
		grid-template-columns: 19.8% 19.8% 19.8% 19.8% 19.8%;
		grid-column-gap: 0.2%;
		width: 100%;
		height: 100%;
	}
	#boxer a {
		margin-top: 15%;
		width: 70%;
	}
	.box {
		height: 100%;
		background-color: #dddddd;
		border-radius: 0px;
	}
	.links, .links-1 {
		text-decoration: none;
		color: #222831;
		font-family: 'Lato', sans-serif;
		;
		display: grid;
		font-size: 1.5em;
	}
	.links {
		margin-left: 15%;
	}
	.links-1 {
		margin-left: 20%;
		font-size: 1.5em;
		width: 70%
	}
	/*ARTICLE*/
	article {
		position: relative;
		width: 99%;
		margin: auto;
		height: 40%;
		margin-top: 2%;
	}
	.box1 {
		height: 100%;
		position: absolute;
		bottom: 0%;
		width: 100%;
		margin-left: 0%;
		border: none;
		color: none;
		text-decoration: none;
		padding: 1% 5%;
		border: ;
		border-radius: 0px;
	}
	.container p, .container h2 {}
	.container img {
		position: absolute;
		z-index: 100;
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}
	.container h2 {
		position: absolute;
		display: inline-block;
		left: 5%;
		top: 50%;
		width: 50%;
		color: white;
		z-index: 200;
	}
	.container p {
		position: absolute;
		font-size: 0.5rem;
		width: 50%;
		top: 05%;
		margin-left: 50%;
		height: 8%;
		color: none;
		z-index: 1;
	}
	button {
		position: absolute;
		bottom: 11%;
		font-size: 0em;
		height: 80%;
		margin: auto;
		background: none;
		border: none;
		color: white;
		text-decoration: none;
		padding: 1% 50%;
		border-radius: 0px;
		z-index: 500;
	}
	button:hover {
		transform: translateY(-3px) scale(1.15);
		box-shadow: 0 5px 5px 0px #222831;
		filter: none;
	}
	button .link-button {
		text-decoration: none;
		color: white;
	}
	.bloque {
		display: grid;
		grid-template-columns: auto;
		grid-column-gap: 0.5%;
		width: 100%;
		height: 100%;
	}
	.container {
		position: relative;
		height: 100%;
		background-color: #008891;
		border-radius: 0px;
		border: 2px solid white;
		z-index: 500;
		width: 100%;
	}
	/*SECTION*/
	section {
		position: relative;
		width: 100%;
		height: 64%;
		margin: auto;
		margin-top: 2%;
		border-radius: 0px;
		background-color: #008891;
		border: 1px solid white;
	}
	section div {
		border-radius: 0px;
		margin-left: auto;
		margin-right: auto;
		height: 50%;
		width: 100%;
	}
	.image-section {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		height: 100%;
		width: 100%;
		border-radius: 0px;
	}
	.container-2 {
		bottom: 50% border:none;
		height: 80%;
		width: 100%;
		position: absolute;
		z-index: 0;
	}
	.title {
		position: absolute;
		font-family: 'Lato', sans-serif;
		color: white;
		top: 30%;
		left: 2%;
		display: inline-block;
		z-index: 5;
		width: 80%;
	}
	.seccion-texto {
		top: 40%;
		left: 2%;
		color: white;
		width: 90%;
		position: absolute;
		display: inline-block;
		font-size: 0.8em;
		z-index: 5;
	}
	.button-section {
		width: 98%;
		height: 100%;
		position: absolute;
		display: inline-block;
		margin-left: 2%;
		bottom: 40%;
		text-decoration: none;
		font-size: 0em;
		padding: 12px 24px;
		cursor: pointer;
		border-radius: 0px;
		border: none;
		background: none;
	}
	.box2 {
		position: absolute;
		width: 99.7%;
		height: 99.7%;
		border: none;
		color: white;
		text-decoration: none;
		border: 2px solid white;
		border-radius: 0px 0 0 0px;
		z-index: 100;
	}
	/*F00TER*/
	footer {
		font-size: 0.5em;
		width: 100%;
		margin: auto;
		height: 9%;
		margin-top: 2%;
		margin-bottom: 2%;
		background-color: #dddddd;
		border-radius: 0px;
	}
	.footer {
		font-size: 10px;
		text-align: center;
	}
	footer li {
		border-right: 1px solid #373535;
		text-decoration: none;
		font-family: 'Lato', sans-serif;
		color: black;
	}
	footer li a {
		color: black;
	}
	footer li:last-child {
		border-right: none;
	}
	footer img {
		display: block;
		margin: 0 auto;
	}
	ul {
		padding: 0;
	}
	li {
		color: black;
		display: inline;
		padding: 10px;
		font-size: 10px;
	}
	p .copy {
		position: absolute;
		margin-top: 50%;
		z-index: 600;
	}
	@media only screen and (max-width: 400px) {
		.links, .links-1 {
			text-decoration: none;
			color: #222831;
			font-family: 'Lato', sans-serif;
			display: grid;
			font-size: 0.7em;
		}
		.links {
			padding-top: 11%;
			padding-left: 10%;
		}
		.links-1 {
			padding-left: 6%;
			padding-top: 8%;
			width: 70%
		}
	}
}